<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>User Profile Page</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<!-- CSS Files -->
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/css/material-kit.css" rel="stylesheet"/>

    <!--   Core JS Files   -->
    <script src="../assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../assets/js/material.min.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../assets/js/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    <script src="../assets/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    <script src="../assets/js/material-kit.js" type="text/javascript"></script>

	<script>
		function loadUserData()
		{
			var xmlhttp = new XMLHttpRequest();

			var url = "/profile";

			xmlhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					var myArr = JSON.parse(this.responseText);

					console.log(myArr);

					document.getElementById("profileImage").src = myArr.user.avatar150;
					document.getElementById("userName").innerHTML = myArr.user.displayName;
					document.getElementById("DOB").innerHTML = "Date of Birth : "+ myArr.user.dateOfBirth;
					document.getElementById("gender").innerHTML = "Gender : "+ myArr.user.gender;
					document.getElementById("avgSteps").innerHTML = "Average Steps Daily : "+ myArr.user.averageDailySteps;

					var userBadges = myArr.user.topBadges;

					var images = "", buttons= "";
					if(userBadges.length >0) {
						for (var i = 0; i < userBadges.length; i++) {
							var badge = userBadges[i];
							images = images + "<div class=\"col-md-4\"> <img src=" + badge.image125px + "  class =\"img-rounded\" /> </div>";
						}
					}else{
						images = "<div class=\"alert alert-info\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"material-icons\">info_outline</i>" +
								"</div><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"material-icons\">clear" +
								"</i></span></button><b>Info alert:</b> No badges to display...</div></div>";
					}

                    buttons = "<li class=\"\"> <a href=\"/steps\" role=\"tab\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Detailed information on steps\"> <i class=\"material-icons\">timeline</i> Steps </a> </li>";
                    buttons += "<li class=\"\"> <a href=\"/heart\" role=\"tab\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Detailed information on Heart rate\"> <i class=\"material-icons\">favorite</i> Steps </a> </li>";

					document.getElementById("badges").innerHTML = images;
                    document.getElementById("buttons").innerHTML = buttons;
				}
			};
			xmlhttp.open("GET", url, true);
			xmlhttp.send();
		}

	</script>
</head>
<body onload="loadUserData()" class="profile-page">
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand"  href="https://github.com/ShrujanKotturi/fitbit">Fitbit API</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/logout" target="_self" class="btn btn-simple btn-white btn-just-icon" data-toggle="tooltip" data-placement="bottom" title="Revoke application access">
                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    <div class="ripple-container"></div></a>
            </li>
			<li>
                <a href="https://www.fitbit.com/logout" target="_self" class="btn btn-simple btn-white btn-just-icon" data-toggle="tooltip" data-placement="bottom" title="Logout">
                    <i class="fa fa-power-off"></i>
                    <div class="ripple-container"></div></a>
            </li>
		</ul>
	</div>
	</div>
</nav>
<div class="wrapper">
	<div class="header header-filter" style="background-image: url('../assets/img/examples/bg2.jpeg');"></div>
	<div class="main main-raised">
		<div class="profile-content">
			<div class="container">
				<div class="row">
					<div class="profile">
						<div class="avatar">
							<img id="profileImage" src="" alt="Circle Image" class="img-circle img-responsive img-raised">
						</div>
						<div class="name">
							<h3 id="userName" class="title"></h3>
							<h6 id="DOB"></h6>
						</div>
					</div>
				</div>
				<div class="description text-center">
					<p>
						<b><h6 id="gender"></h6></b>
						<b><h6 id="avgSteps"></h6></b>
					</p>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="profile-tabs">
							<div class="nav-align-center">
								<div class="tab-content gallery">
									<div class="tab-pane active" id="studio">
										<div class="row" id="badges">
										</div>
									</div>
								</div>
                                <ul class="nav nav-pills" role="tablist" id="buttons">
                                </ul>
							</div>
						</div>
						<!-- End Profile Tabs -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<nav class="pull-left">
			<ul>
			</ul>
		</nav>
		<div class="copyright pull-right">
			Fitbit Application 2016, made with <i class="fa fa-heart heart"></i> by Group 5
		</div>
	</div>
</footer>
</body>

</html>

